* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 2rem 4rem;
}

.header-container h1 {
  font-size: 1.5rem;
}

input[type="text"] {
  padding: 1rem;
  font-size: 0.75rem;
  border: none;
  border-radius: 25px;
  background-color: #ebebeb;
  width: 15rem;
  margin-right: 0.5rem;
}

input[type="text"]:focus {
  outline: none;
}

button {
  padding: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  background-color: #b0bec5;
  color: #546167;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* Article List */
.article-list {
  margin-left: 4rem;
  margin-right: 4rem;
}
